{% extends "polls/base_question.html" %}

{% block title %}Question #{{ question.id }}{% endblock %}

{% block question_content %}
  <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
  </form>

  <!-- <p>Question: {{ question.question_text }}</p>
  <p>Publication Date: {{ question.pub_date }}</p>
  <p>Choices:</p>
  <ul>
    {% for choice in question.choice_set.all %}
      <li>
        <p>{{ choice.choice_text }}</p>
        <p>Votes: {{ choice.votes }}</p>
      </li>
    {% endfor %}
  </ul> -->
{% endblock %}